<% include ./partials/header %>
<h1 class="ui header">My First Blog App</h1>
<div class="ui main text container divided items segment">
    <% articles.forEach(function(article){%>
        <div class="ui item">
            <div class="image">
                <img src="<%= article.image %>" >
            </div>
            <div class="content">
                <h2 class="ui huge header"><%= article.title %></h2>
                <div class="meta">
                    <span><%= article.created.toDateString() %></span>
                </div>
                <div class="description">
                    <% 
                        var pos = article.body.search(/[\r]\n/g);
                        pos = (pos < 0 || pos > 250) ? 250 : pos ;
                    %>
                    <p><%= article.body.substring(0, pos); %>...</p>
                </div>
                <div class="extra">
                    <a class="ui positive button" href="/articles/<%= article._id%>">Read More</a>
                </div>
            </div>
            
            
            
            
            
        </div>
    <% });%>
</div>
<div class="ui main text container items segment">
<% include ./partials/footer %>